//noinspection ALL
.main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: $color-text-dark;
  padding: $padding-0 $padding-xs;
  border-bottom: $border-thin solid lighten($color-light-2, .9);
  box-shadow: $shadow-long;
}

.list {
  display: flex;
  list-style-type: none;
}

.listItem {
  color: $color-text-navigation-link;
  margin-left: $margin-m;
}

.active {
  color: $color-text-navigation-link-active;
}