/*
  BREAKPOINTS
*/

$breakpoint-x-large: 1700px;
$breakpoint-large: 1350px;
$breakpoint-medium: 1100px;
$breakpoint-small: 600px;

/*
  COLORS
*/
$color-dark-1: #1e1e1e;
$color-dark-2: #242425;
$color-dark-3: #2d3032;
$color-dark-4: #484d53;

$color-light-1: #ffffff;
$color-light-2: #dddddd;
$color-light-3: #aaaaaa;
$color-light-4: #888888;

$color-text-dark: #1e1e1e;
$color-text: #2d3032;
$color-text-light: #ffffff;

$color-text-navigation-link: $color-light-4;
$color-text-navigation-link-active: $color-dark-4;

/*
  GRADIENTS
*/

/*
  SHADOWS
*/
$shadow-long: 0 2px 40px -7px $color-light-2;

/*
  BORDER
*/
$border-radius-xs: 4px;
$border-radius-s: 6px;
$border-radius-m: 10px;
$border-radius-l: 15px;
$border-radius-xl: 20px;

$border-thin: 1px;
$border-regular: 2px;
$border-thick: 4px;

/*
  FONTS
*/

/*
  FONT SIZES
*/
$font-size-xxs: 0.6em;
$font-size-xs: 0.8em;
$font-size-s: 0.9em;
$font-size-m: 1em;
$font-size-l: 1.2em;
$font-size-xl: 1.5em;

/*
  FONT WEIGHTS
*/
$font-weight-light: 300;
$font-weight-book: 400;
$font-weight-medium: 500;
$font-weight-demi: 600;
$font-weight-heavy: 700;

/*
  SIZING
*/
$margin-0: 0;
$margin-xxs: 5px;
$margin-xs: 10px;
$margin-s: 15px;
$margin-m: 20px;
$margin-l: 30px;
$margin-xl: 40px;
$margin-xxl: 50px;

$padding-0: 0;
$padding-xxs: 5px;
$padding-xs: 10px;
$padding-s: 15px;
$padding-m: 20px;
$padding-l: 30px;
$padding-xl: 40px;
$padding-xxl: 50px;

/*
  ICONS
*/
$icon-xs: 25px;
$icon-s: 30px;
$icon-m: 40px;
$icon-l: 45px;
$icon-xl: 65px;
$icon-xxl: 80px;
